.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */
  /* Makes inputs behave like true block-level elements */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #fff;
}
a {
  font-family: "gooddog-new-1", "gooddog-new-2", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #19bcb9;
}
a:visited {
  color: #19bcb9;
}
a:hover {
  background-color: #19bcb9;
  color: #fff;
}
.nav-main {
  background: none;
  border-bottom: 4px solid #19bcb9;
}
.nav-main a {
  color: #19bcb9;
}
.nav-main a:visited {
  color: #19bcb9;
}
.nav-main a:hover {
  color: #19bcb9;
}
.content {
  text-align: left;
}
.post-list {
  margin: 1em 0 0 0;
  padding: 0;
}
.post-list li .post-title {
  font-size: 66px;
  font-size: 4.125rem;
  line-height: 1.2;
  color: #555;
}
.post-list li .post-title:hover {
  background-color: transparent;
  color: #222;
}
.post-list li p {
  color: #555;
  text-align: left;
  font-size: 24px;
  font-size: 1.5rem;
  margin: 0;
  max-width: none;
  line-height: 1.3;
  margin-top: 1em;
}
