.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* Layout */
.wrapper {
  margin: 72px 0;
  margin: 4.5rem 0;
}
/* Page header */
.me {
  max-width: 100%;
}
.thatsme,
.forhire {
  display: block;
}
/* Navigation */
.nav-main a {
  font-size: 24px;
  font-size: 1.5rem;
}
.nav-work .site-info {
  position: absolute;
  bottom: -128px;
  bottom: -8rem;
  background: url(/assets/img/noise.yellow.png);
}
.nav-work .site-info h3,
.nav-work .site-info p {
  text-align: left;
  padding: 0 24px;
  padding: 0 1.5rem;
  color: #262523;
}
.nav-work .site-info h3 {
  font-weight: normal;
  font-size: 24px;
  font-size: 1.5rem;
  padding-top: 12px;
  padding-top: 0.75rem;
}
.nav-work .site-info p {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
.nav-work li {
  width: 48.4375%;
  margin-right: 3.125%;
  float: left;
}
.nav-work li a {
  height: 240px;
  height: 15rem;
  padding: 12px 0;
  padding: 0.75rem 0;
}
.nav-work li a:hover {
  background: url(/assets/img/noise.yellow.png);
}
.nav-work li a:hover .site-info {
  bottom: 0;
}
.nav-social-web a {
  opacity: 0.6;
  margin-right: 3.125;
}
/* Intro Module */
.intro h1 {
  padding: 30px 0;
}
.intro h1 :first-child {
  font-size: 16px;
  font-size: 1rem;
}
.intro h1 :last-child {
  font-size: 19px;
  font-size: 1.1875rem;
}
.intro h2 {
  margin: 48px auto;
  margin: 3rem auto;
  font-size: 54px;
  font-size: 3.375rem;
}
/* Services Modules */
.services div {
  float: left;
  width: 31.25%;
  min-height: 480px;
  min-height: 30rem;
  padding: 48px 0 0;
  padding: 3rem 0 0;
  margin-bottom: 0;
}
.services div img {
  float: none;
  max-width: 100%;
  margin-right: 0;
}
.services h3 {
  margin-top: 36px;
  margin-top: 2.25rem;
  text-align: center;
}
.services p {
  text-align: center;
}
.services div:nth-child(2) {
  margin: 0 3.125%;
}
.contact-text {
  margin-right: 3.125%;
  width: 53.125%;
}
.contact-form {
  width: 43.75%;
}
.contact-text,
.contact-form {
  float: left;
}
.button {
  margin-right: 6.25%;
}
